@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-color: #f2cc8f;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-top: -2em;
    align-items: center;
    justify-content:center;
}

h1 {
    font-size: 4em;
    font-family: 'VT323', monospace;
    color: #f4f1de;
    background-color: #3d405b;
    width: 100vw;
}

#grid {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: row;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.grid-item {
    background-color: white;
}

.flex-row {
    display: flex;
    width: 700px;
}

#settings {
    align-self: flex-start;
    text-align: left;
}

#effects {
    margin-left: auto;
    text-align: end;
}

#select-btn, button {
    margin-bottom: 8px;
}

button, select {
    background-color: #f4f1de;
    padding-top: 2px;
    border-style: none;
    border-radius: 3px;
    font-size: 1em;
    color: #495057;
}

button:hover {
    cursor: pointer;
    color: #e07a5f;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.active {
    color: #e07a5f;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.color-btn {} /*Used as a differentiator on button elements when creating node list in js*/

@media screen and (max-width: 750px) {
    .flex-row, #grid {
        width: 87vw;
    }
  }

  @media screen and (max-width: 750px) {
    #grid {
        height: 87vw;
    }
  }